.cursor{
    cursor: pointer;
}
.headings{
    font-size: 20px;
    font-weight:700;
}
.container {
    text-align:left; 
    margin-top: 50px;   
  }
  
  /* Style MedLab */
  .med {
    color: #375eee; 
    font-weight: bold;
    font-size: 25px;
  }
  .lab {
    color: #ff0000; 
    font-weight: bold;
    font-size: 25px
  }
  /* Style PLATINUM */
  .platinum {
    color: #011f46; 
    font-weight: bold;
    font-size: 25px
  }
  .care-text  {
    background: linear-gradient(to right,#2196f3, #ff5722); /* Gradient from orange to blue */
    -webkit-background-clip: text; /* Ensures the background gradient clips to the text (for Safari/Chrome) */
    background-clip: text; /* Standard property for other browsers */
    -webkit-text-fill-color: transparent; /* Ensures the text itself is transparent (for Safari/Chrome) */
  }
  .row {
    margin-right: 0; 
    margin-left: 0; 
}
.care-text {
  font-size: 2rem; 
  font-weight: bold;
  text-align: left;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 30px; 
}
.talk-text {
  font-size: 1.2rem; 
  font-weight: bold;
  text-align: left;
}
.rounded-video{
  width: 635px;
  border-radius: 15px;
}
.download-text {
  font-size: 1.5rem;  /* Adjust the size as needed */
  font-weight: bold;
  color: #003063; /* Bootstrap's default link color (blue) */
  text-decoration: none; /* Remove underline */
}
.card{
  border-radius: 30px;
}

